[Desktop Entry]
Name=Orivo
Comment=Terminal-based Todos + Pomodoro timer
Exec=kitty --class orivo --title Orivo -- ~/.local/bin/orivo
Icon=orivo
Terminal=false
Type=Application
Categories=Utility;Productivity;
Keywords=todo;pomodoro;timer;tui;productivity;
StartupWMClass=orivo
StartupNotify=false
