pkgbase = orivo
	pkgdesc = A terminal-based (TUI) Todos + Pomodoro timer written in Rust
	pkgver = 0.3.1
	pkgrel = 1
	url = https://github.com/mt-shihab26/orivo
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = sqlite
	depends = alsa-lib
	depends = gcc-libs
	options = !strip
	options = !debug
	source = LICENSE::https://raw.githubusercontent.com/mt-shihab26/orivo/v0.3.1/LICENSE
	source = orivo-omarchy.desktop::https://github.com/mt-shihab26/orivo/releases/download/v0.3.1/orivo-omarchy.desktop
	source = orivo.svg::https://github.com/mt-shihab26/orivo/releases/download/v0.3.1/orivo.svg
	sha256sums = 4a3d287c9308636fb243c9785a195a800c577b49f44ef658ff4c61143be313a1
	sha256sums = fc4896283c369009fa10a5d7d6f43e7bb406b7ec471db7cff509669ba61ff1d0
	sha256sums = 27174eda039a68a18fa6e8df9981b44e381fbd85d88d2c6c62505766eff60671
	source_x86_64 = orivo-v0.3.1-linux-x86_64::https://github.com/mt-shihab26/orivo/releases/download/v0.3.1/orivo-v0.3.1-linux-x86_64
	sha256sums_x86_64 = e55c1309eadeb7e2018797869040b1b6bc6d354e033b673aa2c36948054a9c51
	source_aarch64 = orivo-v0.3.1-linux-aarch64::https://github.com/mt-shihab26/orivo/releases/download/v0.3.1/orivo-v0.3.1-linux-aarch64
	sha256sums_aarch64 = 60b5ccc15df3831ebaaf7dcfe5fe5285c74774cde4da16a61a085a6f4894ff07

pkgname = orivo
