pkgbase = orivo
	pkgdesc = A terminal-based (TUI) Todos + Pomodoro timer written in Rust
	pkgver = 0.2.13
	pkgrel = 1
	url = https://github.com/mt-shihab26/orivo
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = sqlite
	depends = alsa-lib
	depends = gcc-libs
	options = !strip
	options = !debug
	source = LICENSE::https://raw.githubusercontent.com/mt-shihab26/orivo/v0.2.13/LICENSE
	source = orivo-omarchy.desktop::https://github.com/mt-shihab26/orivo/releases/download/v0.2.13/orivo-omarchy.desktop
	source = orivo.svg::https://github.com/mt-shihab26/orivo/releases/download/v0.2.13/orivo.svg
	sha256sums = 4a3d287c9308636fb243c9785a195a800c577b49f44ef658ff4c61143be313a1
	sha256sums = fc4896283c369009fa10a5d7d6f43e7bb406b7ec471db7cff509669ba61ff1d0
	sha256sums = 27174eda039a68a18fa6e8df9981b44e381fbd85d88d2c6c62505766eff60671
	source_x86_64 = orivo-v0.2.13-linux-x86_64::https://github.com/mt-shihab26/orivo/releases/download/v0.2.13/orivo-v0.2.13-linux-x86_64
	sha256sums_x86_64 = 5f609c5acb46ccada8d641952b379029469125077aca67caa7500b6dd7f2ed40
	source_aarch64 = orivo-v0.2.13-linux-aarch64::https://github.com/mt-shihab26/orivo/releases/download/v0.2.13/orivo-v0.2.13-linux-aarch64
	sha256sums_aarch64 = fddfe4bbe59fea0b6039fd1f521d3047b01bd892cead8f7933c558fdf4e1f9eb

pkgname = orivo
