pkgbase = orivo
	pkgdesc = A terminal-based (TUI) Todos + Pomodoro timer written in Rust
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/mt-shihab26/orivo
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = sqlite
	depends = alsa-lib
	depends = gcc-libs
	options = !strip
	options = !debug
	source = LICENSE::https://raw.githubusercontent.com/mt-shihab26/orivo/v0.4.0/LICENSE
	source = orivo-omarchy.desktop::https://github.com/mt-shihab26/orivo/releases/download/v0.4.0/orivo-omarchy.desktop
	source = orivo.svg::https://github.com/mt-shihab26/orivo/releases/download/v0.4.0/orivo.svg
	sha256sums = 4a3d287c9308636fb243c9785a195a800c577b49f44ef658ff4c61143be313a1
	sha256sums = fc4896283c369009fa10a5d7d6f43e7bb406b7ec471db7cff509669ba61ff1d0
	sha256sums = 27174eda039a68a18fa6e8df9981b44e381fbd85d88d2c6c62505766eff60671
	source_x86_64 = orivo-v0.4.0-linux-x86_64::https://github.com/mt-shihab26/orivo/releases/download/v0.4.0/orivo-v0.4.0-linux-x86_64
	sha256sums_x86_64 = 16d9836253e405cd177d161c91596054c501845ffb62a18bf6fb65f060509992
	source_aarch64 = orivo-v0.4.0-linux-aarch64::https://github.com/mt-shihab26/orivo/releases/download/v0.4.0/orivo-v0.4.0-linux-aarch64
	sha256sums_aarch64 = 0b85bc4b31bee6c3baf509d788a2af3c2ff1678a26a85e442222191929bf8447

pkgname = orivo
